%h2
  Fotos de cafeses
%ul
  %li
    %a{href: "/images/artelatte.jpg"}
  %li
    %a{href: "/images/cafecito2.jpg"}
  %li
    %a{href: "/images/cafecito.jpg"}
  %li
    %a{href: "/images/cafetin.jpg"}
  %li
    %a{href: "/images/cafetradicional.jpg"}
  %li
    %a{href: "/images/guidos.jpg"}
  %li
    %a{href: "/images/havanna.jpg"}
  %li
    %a{href: "/images/macdonalds.jpg"}
  %li
    %a{href: "/images/minibar.jpg"}
  %li
    %a{href: "/images/sobrecito.jpg"}
  %li
    %a{href: "/images/vasitodecafe.jpg"}
