!!!
%html{:lang => 'es'}
  %head
    %meta{:charset => 'utf-8'}/
    %meta{:content => '', :name => 'description'}/
    %meta{:content => '', :name => 'author'}/
    /[if lt IE 9]
    %script{:src => 'http://html5shim.googlecode.com/svn/trunk/html5.js'}
    %link{:href => "http://fonts.googleapis.com/css?family=Montserrat", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/styles.css", :rel => "stylesheet", :type => "text/css"}
  %body
    .content
      %h1
        Charla de café sobre la inflación
      %div
        %iframe{:frameborder => "0", :height => "600", :src => "http://embed.verite.co/timeline/?source=0AsRnaiCcoALedGplUF9ELTAzbkExUWNPWV9rSmNhTGc&font=Bevan-PotanoSans&maptype=toner&lang=es&width=900&height=600", :width => "900"}
      %div
        %ul
          %li
            %a{href: "http://twitter.com/chatruc"} chatruc
          %li
            %a{href: "http://twitter.com/lopezjd"} lopezjd
          %li
            %a{href: "http://twitter.com/lima"} lima
          %li
            %a{href: "http://twitter.com/valenntinna"} valenntinna
          %li
            %a{href: "http://twitter.com/TeodelinaB"} TeodelinaB
          %li
            %a{href: "http://twitter.com/malev"} malev
          %li
            %a{href: "http://twitter.com/julietulanovsky"} julietulanovsky
          %li
            %a{href: "http://twitter.com/ShanaSudbrack"} ShanaSudbrack
        %a{href: "https://twitter.com/#!/search/?q=%23hhba&src=hash"} #HHBA
