!!!
%html{:lang => 'es'}
  %head
    %meta{:charset => 'utf-8'}/
    %meta{:content => '', :name => 'description'}/
    %meta{:content => '', :name => 'author'}/
    /[if lt IE 9]
    %script{:src => 'http://html5shim.googlecode.com/svn/trunk/html5.js'}
  %body
    .div
      %iframe{:frameborder => "0", :height => "650", :src => "http://embed.verite.co/timeline/?source=0AsRnaiCcoALedGplUF9ELTAzbkExUWNPWV9rSmNhTGc&font=Bevan-PotanoSans&maptype=toner&lang=en&width=900&height=650", :width => "900"}

